/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2022 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.simulation-widget {
    /* font-size: var(--vscode-font-size);
    color: var(--vscode-foreground); */
}

.simulation-table {
    /* margin: 20px;
    width: 100%; */
}

.simulation-data-table {
    /* width: 95%;
    margin-right: 50px;
    border-collapse: collapse;
    border-spacing: 0; */
}

.simulation-data-row {
    /* display: table-row;
    resize: horizontal; */
}

.simulation-data-truncate {
    /* color: var(--vscode-tab-activeForeground);
    border: 1px solid var(--vscode-tab-border);
    background-color: var(--vscode-tab-activeBackground);
    border-collapse: collapse; */
    white-space: nowrap;
    /* overflow: auto;
    max-width: 1px;
    resize: horizontal; */
}

.simulation-data-inputbox::placeholder {
    font-style: italic;
}

.simulation-data-inputbox {
    border: 0px;
    padding-left: 1%;
    padding-right: 1%;
}

.simulation-data-button {
    display: inline-block;
    border: none;
    border-radius: 0;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    min-width: 5px;
    min-height: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px var(--vscode-checkbox-border), 0px 1px 2px 0px var(--vscode-checkbox-border),
        0px 1px 1px -2px var(--vscode-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
}

.preference-button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    block-size: var(--vscode-content-line-height);
    line-height: var(--vscode-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--vscode-checkbox-border), 0px 1px 2px 0px var(--vscode-checkbox-border),
        0px 1px 1px -2px var(--vscode-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.preference-button.off {
    background-color: var(--vscode-button-disabledBackground);
    color: var(--vscode-button-disabledForeground);
}

.simulation-panel {
    margin-top: 12px;
    display: flex;
    margin-left: calc(var(--vscode-ui-padding) * 2);
}

.icon {
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

.simulation-history-inputbox {
    border: 0px;
    width: 98% !important;
    max-width: unset !important;
    padding-left: 1%;
    padding-right: 1%;
}

.compile-button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    block-size: var(--vscode-content-line-height);
    line-height: var(--vscode-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--vscode-checkbox-border), 0px 1px 2px 0px var(--vscode-checkbox-border),
        0px 1px 1px -2px var(--vscode-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.rotate180 {
    transform: rotate(180deg);
}

simulation-td {
    border: 2px solid black;
    padding: 0;
    margin: 0px;
    resize: horizontal;
}

.simulation-div {
    margin: 0px;
    padding: 0px;
    display: block;
    resize: horizontal;
}

.simulation-speed-input-box {
    width: 50px;
}

.step-counter {
    padding-left: 5px;
    padding-top: 5px;
}

.inactive-input-box {
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
}

.setwidth {
    min-width: 60px;
}

.setwidth-h {
    min-width: 200px;
}

table, th, td {
    border: 1px solid var(--vscode-checkbox-border); 
    border-collapse: collapse; 
    padding: 5px;
    color: var(--vscode-foreground)
}

.focused {
    background-color: var(--vscode-inputOption-hoverBackground);
}

.simulation-table-input {
    cursor: text;
    background: var(--vscode-input-background);
}

.simulation-table-label {
    cursor: default;
}

.simulation-table-history {
    cursor: default;
}

.simulation-table-categories {
    cursor: default;
}


