.vscode-dark table, th, td {
    border: 1px solid white; 
    border-collapse: collapse; 
    padding: 5px;
}

.vscode-light table, th, td {
    border: 1px solid black; 
    border-collapse: collapse; 
    padding: 5px;
}