

table, th, td {
    border: 1px solid var(--vscode-checkbox-border); 
    border-collapse: collapse; 
    padding: 5px;
    color: var(--vscode-foreground)
}

.focused {
    background-color: var(--vscode-inputOption-hoverBackground);
}
